*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
body{
    width: 100%;
    background-color: rgb(214, 224, 228);

}

form{
    background-color: #fff;
    position: absolute;
    width: 400px;
    height: 310px;
    padding: 10px 5px 20px 5px;
    margin: 10vh 850px;
    margin-top: 140px;
    margin-left: 750px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px -7px;
}
input[type='text'], input[type='password']{
    display: block;
    background-color: #fff;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -10px;
    border: 1.5px solid rgb(200, 200, 200);
    width: 300px;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: left;
    color: black;
    font-family: 'Segoe UI';
    font-size: 20px;
}

button{
    display: block;
    background-color: blue;
    color: white;
    margin: auto;
    margin-top: 10px;
    width: 380px;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}
.f-pass{
    display: block;
    width: 200px;
    margin: auto;
    color: #1877f2;
    padding-left: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;

}
.line{
    border-top: 1px solid #222;
    opacity: 0.2;
}
.btn2{
    display: block;
    width: 180px;
    font-size: bold;
    margin: auto;
    margin-top: -25px;
    font-size: 20px;
    color: white;
    background-color: #42b72a;
    padding: 14px;
    text-align: center;
    border-radius: 8px;
    
}
.sub-link h3{
    width: 270px;
    position: relative;
    color: black;
    font-family: 'Segoe UI', Ärial;
    padding: 130px 890px;
    font-size: 12px;
    font-weight: 600;
    margin-top: -150px;
    margin-left: -80px;
}
.sub-link h3 a{
    color: black;
    font-weight: bold;
    font-size: 13px;

}
.f-container{
    width: 350px;
    margin-left: 300px;
    margin-bottom: 30vh;
    font-family: 'Segoe UI', Roboto, "sans francisco";

}

.f-container img{
    width: 400px;
    margin-top: 150px;
    margin-left: -150px;
    margin-bottom: -170px;
}
p{
    font-size: 25px;
    font-weight: 500;
    word-spacing: 3px;
    margin-top: 150px;
    margin-left: -110px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: block;
    inline-size: none;
    color: #8a8d91;
}
li{
    text-align: -webkit-match-parent;
    display: inline-block;
    color: #8a8d91;
}